DeepLKey='your-deepl-api-key'
USDAKEY='your-usda-fooddata-central-api-key'
JWT_SECRET='your-jwt-secret-generate-with-openssl-rand-hex-32'

DB_NAME='nutritiondb'
DB_USER='your-db-user'
DB_PASSWORD='your-db-password'
DB_HOST='127.0.0.1'
DB_PORT='5432'

DATABASE_URL="postgresql://your-db-user:your-db-password@127.0.0.1:5432/nutritiondb?schema=public"
